body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: grey;
    color: white;
}

.landing-page-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.remove-bullet {
    list-style: none;
}

.recipe-list {
    font-size: 22px;
}